# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL=

# Better Auth
BETTER_AUTH_URL_DEVELOPMENT=
BETTER_AUTH_URL_PRODUCTION=
BETTER_AUTH_SECRET=

# Frontend API URL
NEXT_PUBLIC_FRONTEND_API_URL_DEVELOPMENT =
NEXT_PUBLIC_FRONTEND_API_URL_PRODUCTION =

# Last.fm
LASTFM_API_KEY=
LASTFM_USERNAME=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

# Upstash Redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

NEXT_PUBLIC_RESUME_URL=